<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="constraints">
            <directory>./tests/Constraints</directory>
            <file>./tests/AbstractIsoCodeGenericConstraintTest.php</file>
        </testsuite>
        <testsuite name="symfony">
            <directory>./tests/Constraints</directory>
            <file>./tests/AbstractIsoCodeGenericConstraintTest.php</file>
            <directory>./tests/Bridge/Symfony</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
